<template>
  <section :class="b({},{ 'is-vertical': isVertical })" :style="isheight">
    <slot></slot>
  </section>
</template>
<script>
import create from '../../src/create/create';
export default create.Create({
  name: 'container',
  props: {
    direction: String,
    height: {
      type: String,
      default: null
    }
  },
  computed: {
    isVertical() {
      let _this = this;
      if (_this.direction === 'vertical') {
        return true;
      } else if (_this.direction === 'horizontal') {
        return false;
      }
      return _this.$slots && _this.$slots.default
        ? _this.$slots.default.some(vnode => {
          const tag = vnode.componentOptions && vnode.componentOptions.tag;
          return tag === 'zt-header' || tag === 'zt-footer';
        })
        : false;
    },
    isheight() {
      let res = {};
      let _this = this;
      if (_this.height !== null && _this.height !== '') {
        res['height'] = _this.height;
      }
      return res;
    }
  }
});
</script>
