﻿<template>
  <div v-show="parent.animated || isSelected"
       :class="b('pane', { float: parent.animated })"
       :style="paneStyle">
    <slot v-if="inited" />
    <div v-if="$slots.title"
         ref="title">
      <slot name="title" />
    </div>
  </div>
</template>

<script>
  import create from '../../src/create/create';
  import findParent from '../mixins/find-parent';
  export default create.Create({
    name: 'tab',
    mixins: [findParent],
    props: {
      val: Object,
      title: String,
      disabled: Boolean
    },
    data() {
      return {
        inited: false,
        paneStyle: {}
      };
    },
    computed: {
      index() {
        return this.parent.tabg.indexOf(this);
      },
      isSelected() {
        return this.index === this.parent.curActive;
      }
    },
    watch: {
      'parent.curActive'() {
        this.inited = this.inited || this.isSelected;
      },
      'parent.computedWidth'(width) {
        this.paneStyle = {
          width: `${width}px`
        };
      },
      title() {
        this.parent.setLine();
      }
    },
    created() {
      this.findParent(create.Config.namespan + '-tabg');
    },
    mounted() {
      const { tabg } = this.parent;
      const index = this.parent.$slots.default.indexOf(this.$vnode);
      tabg.splice(index === -1 ? tabg.length : index, 0, this);
      if (this.$slots.title) {
        this.parent.renderTitle(this.$refs.title, this.index);
      }
    },
    beforeDestroy() {
      this.parent.tabg.splice(this.index, 1);
    }
  });
</script>