@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/hairline_m.scss";

$--padding-basic: ($--size-base * 1.5) !default;


@include b(cell) {
	position: relative;
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	width: 100%;
	padding: ($--size-base) $--padding-basic;
	line-height: ($--size-base * 2.4);
	background-color: $--color-white;
	color: $--Color-mian;
	font-size: $--font-size-base;

	&:not(:last-child)::after {
		@include hairline_bottom($--border-color-base, 15px);
	}

	@include m(borderless) {
		&::after {
			display: none;
		}
	}

	@include e(label) {
		font-size: $--font-size-icon;
		line-height: ($--size-base * 1.8);
		color: $--Color-gray;
	}

	@include when(border) {
		&::after {
			content: none;
		}

		@include e(title) {
			&::after {
				content: none;
			}
		}
	}



	@include e(title) {
		flex: 1;
	}

	@include e(value) {
		flex: 1;
		overflow: hidden;
		text-align: right;
		position: relative;
		vertical-align: middle;

		@include m(alone) {
			text-align: left;
		}
	}

	@include e(left-icon) {
		height: ($--size-base * 2.4);
		min-width: 1em;
		font-size: $--size-primary;
		line-height: ($--size-base * 2.4);
		margin-right: ($--size-base * .5);
	}

	@include e(right-icon) {
		height: ($--size-base * 2.4);
		min-width: 1em;
		font-size: $--size-primary;
		line-height: ($--size-base * 2.4);
		color: $--Color-gray;
		margin-left: ($--size-base * .5);
	}

	@include m(clickable) {
		&:active {
			background-color: $--Color-active;
		}
	}

	@include m(required) {
		overflow: visible;

		&::before {
			content: '*';
			position: absolute;
			left: ($--size-base * .7);
			font-size: $--font-size-base;
			color: $--color-danger;
		}
	}

	@include m(center) {
		align-items: center;
	}

	@include m(large) {
		padding-top: ($--size-base * 1.2);
		padding-bottom: ($--size-base * 1.2);

		@include e(title) {
			font-size: $--size-primary;
		}

		@include e(label) {
			font-size: $--font-size-base;
		}
	}
}
