@import "mixins/mixins";
@import "common/var";

@include b(footer) {
	padding: $--footer-padding;
	box-sizing: border-box;
	flex-shrink: 0;
	font-size: $--font-size-base;
	height: $--footer-height;

	@include m(fixed) {
		left: 0;
		bottom: 0;
		height: $--footer-height;
		position: fixed;
		min-width: 100%;
	}
}
