﻿@import "mixins/mixins";
@import "common/var";
@import "mixins/hairline_m";

$--border-width: $--border-width-base !default;

[class*='zt-hairline'] {
	position: relative;

	&::after {
		@include hairline();
	}
}


@include b(hairline) {
	@include e(top) {
		padding-top: ($--border-width * .5) !important;

		&::after {
			border-top-width: $--border-width;
		}
	}

	@include e(left) {
		&::after {
			border-left-width: $--border-width;
		}
	}

	@include e(right) {
		&::after {
			border-right-width: $--border-width;
		}
	}

	@include e(bottom) {
		padding-bottom: ($--border-width * .5) !important;

		&::after {
			border-bottom-width: $--border-width;
		}
	}

	@include e(surround) {
		border-width: $--border-width;
	}

	@include m(top-bottom) {
		/*padding-bottom: ($--border-width * .5) !important;
		padding-top: ($--border-width * .5) !important;*/

		&::after {
			border-width: $--border-width 0;
		}
	}

	@include e(top-bottom) {
		/*padding-bottom: ($--border-width * .5) !important;
		padding-top: ($--border-width * .5) !important;*/

		&::after {
			border-width: ($--border-width) 0;
		}
	}
}
