@import "mixins/mixins";
@import "mixins/config";
@import "common/var";

@font-face {
	font-family: $font-family;
	src: url('#{$--font-path}/zengt-icons.woff') format('woff'), /* chrome, firefox */
	url('#{$--font-path}/zengt-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	font-weight: normal;
	font-style: normal
}

[class^="zt-icon-"], [class*=" zt-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: $font-family !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include b(icon) {
	position: relative;
	display: inline-block;
	font: normal normal normal $--font-size-base $font-family;
	font-size: inherit;
	text-rendering: auto;

	@include e(image) {
		width: 1em;
		height: 1em;

		img {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			position: absolute;
		}
	}

	&::before {
		display: inline-block;
	}
}

/*.zt-icon {
	position: relative;
	display: inline-block;
	font: normal normal normal $--font-size-base $font-family;
	font-size: inherit;
	text-rendering: auto;

	&--image {
		width: 1em;
		height: 1em;

		img {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			position: absolute;
		}
	}

	&::before {
		display: inline-block;
	}
}*/

.zt-icon-info:before {
	content: "\e61a";
}

.zt-icon-error:before {
	content: "\e62c";
}

.zt-icon-success:before {
	content: "\e62d";
}

.zt-icon-warning:before {
	content: "\e62e";
}

.zt-icon-question:before {
	content: "\e634";
}

.zt-icon-back:before {
	content: "\e606";
}

.zt-icon-arrow-left:before {
	content: "\e600";
}

.zt-icon-arrow-down:before {
	content: "\e603";
}

.zt-icon-arrow-right:before {
	content: "\e604";
}

.zt-icon-arrow-up:before {
	content: "\e605";
}

.zt-icon-caret-left:before {
	content: "\e60a";
}

.zt-icon-caret-bottom:before {
	content: "\e60b";
}

.zt-icon-caret-top:before {
	content: "\e60c";
}

.zt-icon-caret-right:before {
	content: "\e60e";
}

.zt-icon-d-arrow-left:before {
	content: "\e610";
}

.zt-icon-d-arrow-right:before {
	content: "\e613";
}

.zt-icon-minus:before {
	content: "\e621";
}

.zt-icon-plus:before {
	content: "\e62b";
}

.zt-icon-remove:before {
	content: "\e635";
}

.zt-icon-circle-plus:before {
	content: "\e601";
}

.zt-icon-remove-outline:before {
	content: "\e63c";
}

.zt-icon-circle-plus-outline:before {
	content: "\e602";
}

.zt-icon-close:before {
	content: "\e60f";
}

.zt-icon-check:before {
	content: "\e611";
}

.zt-icon-circle-close:before {
	content: "\e607";
}

.zt-icon-circle-check:before {
	content: "\e639";
}

.zt-icon-circle-close-outline:before {
	content: "\e609";
}

.zt-icon-circle-check-outline:before {
	content: "\e63e";
}

.zt-icon-zoom-out:before {
	content: "\e645";
}

.zt-icon-zoom-in:before {
	content: "\e641";
}

.zt-icon-d-caret:before {
	content: "\e615";
}

.zt-icon-sort:before {
	content: "\e640";
}

.zt-icon-sort-down:before {
	content: "\e630";
}

.zt-icon-sort-up:before {
	content: "\e631";
}

.zt-icon-tickets:before {
	content: "\e63f";
}

.zt-icon-document:before {
	content: "\e614";
}

.zt-icon-goods:before {
	content: "\e618";
}

.zt-icon-sold-out:before {
	content: "\e63b";
}

.zt-icon-news:before {
	content: "\e625";
}

.zt-icon-message:before {
	content: "\e61b";
}

.zt-icon-date:before {
	content: "\e608";
}

.zt-icon-printer:before {
	content: "\e62f";
}

.zt-icon-time:before {
	content: "\e642";
}

.zt-icon-bell:before {
	content: "\e622";
}

.zt-icon-mobile-phone:before {
	content: "\e624";
}

.zt-icon-service:before {
	content: "\e63a";
}

.zt-icon-view:before {
	content: "\e643";
}

.zt-icon-menu:before {
	content: "\e620";
}

.zt-icon-more:before {
	content: "\e646";
}

.zt-icon-more-outline:before {
	content: "\e626";
}

.zt-icon-star-on:before {
	content: "\e637";
}

.zt-icon-star-off:before {
	content: "\e63d";
}

.zt-icon-location:before {
	content: "\e61d";
}

.zt-icon-location-outline:before {
	content: "\e61f";
}

.zt-icon-phone:before {
	content: "\e627";
}

.zt-icon-phone-outline:before {
	content: "\e628";
}

.zt-icon-picture:before {
	content: "\e629";
}

.zt-icon-picture-outline:before {
	content: "\e62a";
}

.zt-icon-delete:before {
	content: "\e612";
}

.zt-icon-search:before {
	content: "\e619";
}

.zt-icon-edit:before {
	content: "\e61c";
}

.zt-icon-edit-outline:before {
	content: "\e616";
}

.zt-icon-rank:before {
	content: "\e632";
}

.zt-icon-refresh:before {
	content: "\e633";
}

.zt-icon-share:before {
	content: "\e636";
}

.zt-icon-setting:before {
	content: "\e638";
}

.zt-icon-upload:before {
	content: "\e60d";
}

.zt-icon-upload2:before {
	content: "\e644";
}

.zt-icon-download:before {
	content: "\e617";
}

.zt-icon-loading:before {
	content: "\e61e";
}

.zt-icon-loading {
	animation: rotating 2s linear infinite;
}

.zt-icon--right {
	margin-left: 5px;
}

.zt-icon--left {
	margin-right: 5px;
}

@keyframes rotating {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}
