@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

$--basic-color: $--Color-gray !default;

@include b(list ) {
	user-select: none;
	overflow: hidden;

	@include e(loading-text) {
		@include e(finished-text) {
			color: $--basic-color;
			font-size: $--font-size-base;
			line-height: ($--size-base * 5);
			text-align: center;
		}
	}

	@include e(loading) {
		text-align: center;
		line-height: ($--size-base * 5);
		font-size: $--font-size-base;

		&-icon,
		&-text {
			display: inline-block;
			vertical-align: middle;
		}

		&-icon {
			width: ($--size-base * 1.6);
			height: ($--size-base * 1.6);
			margin-right: ($--size-base * .5);
		}
	}
}
