@import "mixins/config.scss";
@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";

$--loading-gray: $--color-text-placeholder !default;
$--loading-gray-dark: $--color-text-secondary !default;

@include b(loading) {
	width: ($--size-base * 3);
	height: ($--size-base * 3);
	z-index: 0;
	font-size: 0;
	line-height: 0;
	position: relative;
	vertical-align: middle;

	@include m(circle) {
		width: ($--size-base * 1.6);
		height: ($--size-base * 1.6);
	}

	@include e(spinner) {
		z-index: -1;
		width: 100%;
		height: 100%;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		animation: #{$namespace}-rotate 0.8s linear infinite;

		@include m(circle) {
			border-radius: 100%;
			border: ($--size-base * .3) solid transparent;
			border-color: $--loading-gray;
			border-top-color: $--loading-gray-dark;
		}

		@include m(gradient-circle) {
			background-size: contain;
			/*background-image: url('');*/
		}

		@include m(spinner) {
			animation-timing-function: steps(12);

			i {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;

				&::before {
					width: ($--size-base * .2);
					height: 25%;
					content: ' ';
					display: block;
					margin: 0 auto;
					border-radius: 40%;
					background-color: currentColor;
				}
			}
		}

		@include m(circular) {
			width: 100%;
			height: 100%;

			circle {
				stroke: currentColor;
				stroke-width: 3;
				stroke-linecap: round;
				animation: load-circular 1.5s ease-in-out infinite;
			}
		}
	}

	@include m(white) {
		@include e(spinner) {
			@include m(circle) {
				border-color: rgba(0, 0, 0, .1);
				border-top-color: rgba(255, 255, 255, .7);
			}
			/*@include m(gradient-circle) {
				background-image: url('');
			}*/
		}
	}
}

@keyframes load-circular {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120;
	}
}

@mixin generate-spinner($n, $i: 1) {
	@while ($i <= $n) {
		.#{$namespace}-loading__spinner--spinner i:nth-of-type(#{$i}) {
			opacity: 1 - (0.75 / 12) * ($i - 1);
			transform: rotate($i * 30deg);
		}

		$i: $i + 1;
		/*@mixin generate-spinner($n, ($i + 1))*/
	}
}

@include generate-spinner(12);


/* zt-loading */
@include b(loading-parent) {
	@include m(relative) {
		position: relative !important;
	}

	@include m(hidden) {
		overflow: hidden !important;
	}
}

@include b(loading-mask) {
	position: absolute;
	z-index: 2000;
	background-color: rgba(255, 255, 255, .9);
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity 0.3s;

	@include when(fullscreen) {
		position: fixed;

		.zt-loading-spinner {
			margin-top: #{- $--loading-fullscreen-spinner-size / 2};

			.circular {
				height: $--loading-fullscreen-spinner-size;
				width: $--loading-fullscreen-spinner-size;
			}
		}
	}
}

@include b(loading-spinner) {
	top: 50%;
	margin-top: #{- $--loading-spinner-size / 2};
	width: 100%;
	text-align: center;
	position: absolute;

	.zt-loading-text {
		color: $--color-primary;
		margin: 3px 0;
		font-size: 14px;
	}

	.circular {
		height: $--loading-spinner-size;
		width: $--loading-spinner-size;
		animation: loading-rotate 2s linear infinite;
	}

	.path {
		animation: loading-dash 1.5s ease-in-out infinite;
		stroke-dasharray: 90, 150;
		stroke-dashoffset: 0;
		stroke-width: 2;
		stroke: $--color-primary;
		stroke-linecap: round;
	}

	i {
		color: $--color-primary;
	}
}

.zt-loading-fade-enter,
.zt-loading-fade-leave-active {
	opacity: 0;
}

@keyframes loading-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes loading-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -40px;
	}

	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -120px;
	}
}
