@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";

$--overlay-background-color: $--color-background-mask !default;

@include b(overlay) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $--overlay-background-color;
}
