@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

@include b(panel) {
	background-color: $--color-white;

	@include e(header) {

		.#{$namespace}-cell__value {
			color: $--color-danger;
		}
	}

	@include e(footer) {
		padding: ($--size-base) ($--size-base * 1.5);
	}
}
