@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

$--popup-background-color: $--color-white !default;
.#{$namespace} {
	&-overflow-hidden {
		overflow: hidden !important;
	}

	&-popup {
		position: fixed;
		top: 50%;
		left: 50%;
		max-height: 100%;
		overflow-y: auto;
		background-color: $--popup-background-color;
		transition: .3s ease-out;
		-webkit-overflow-scrolling: touch;
		transform: translate3d(-50%, -50%, 0);

		&--top {
			width: 100%;
			top: 0;
			right: auto;
			bottom: auto;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}

		&--right {
			top: 50%;
			right: 0;
			bottom: auto;
			left: auto;
			transform: translate3d(0, -50%, 0);
		}

		&--bottom {
			width: 100%;
			top: auto;
			bottom: 0;
			right: auto;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
		}

		&--left {
			top: 50%;
			right: auto;
			bottom: auto;
			left: 0;
			transform: translate3d(0, -50%, 0);
		}
	}
}

.popup-slide-top-enter,
.popup-slide-top-leave-active {
	transform: translate3d(-50%, -100%, 0);
}

.popup-slide-right-enter,
.popup-slide-right-leave-active {
	transform: translate3d(100%, -50%, 0);
}

.popup-slide-bottom-enter,
.popup-slide-bottom-leave-active {
	transform: translate3d(-50%, 100%, 0);
}

.popup-slide-left-enter,
.popup-slide-left-leave-active {
	transform: translate3d(-100%, -50%, 0);
}