@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

$--basic-color: $--Color-gray !default;

@include b(pull-refresh) {
	user-select: none;
	overflow: hidden;

	@include e(track) {
		position: relative;
	}

	@include e(head) {
		width: 100%;
		height: ($--size-base * 5);
		left: 0;
		overflow: hidden;
		position: absolute;
		text-align: center;
		top: -($--size-base * 5);
		font-size: $--font-size-base;
		color: $--basic-color;
		line-height: ($--size-base * 5);
	}

	@include e(loading) {
		.#{$namespace}-loading {
			width: ($--size-base * 1.6);
			height: ($--size-base * 1.6);
			margin-right: ($--size-base * .5);
		}

		span,
		.#{$namespace}-loading {
			vertical-align: middle;
			display: inline-block;
		}
	}

	@include e(text) {
		display: block;
	}
}
