@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/config.scss";

@include b(tabbar-item) {
	flex: 1;
	display: flex;
	line-height: 1;
	font-size: $--font-size-small;
	color: $--Color-mian;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;

	@include e(icon) {
		font-size: $--font-size-large;
		position: relative;
		margin-bottom: ($--size-base * .5);

		.#{$namespace}-icon {
			display: block;
			font-size: ($--size-base * 2.2);
		}

		@include m(dot) {
			&::after {
				top: 0;
				right: - ($--size-base * .8);
				width: ($--size-base * .8);
				height: ($--size-base * .8);
				content: ' ';
				position: absolute;
				border-radius: 100%;
				background-color: $--color-danger;
			}
		}

		img {
			height: $--font-size-large;
			display: block;
		}
	}

	@include m(active) {
		color: $--color-primary;
	}
}
