@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
@import "mixins/hairline_m.scss";

$--tabs-line-height: ($--size-base * 4.4) !default;
$--tabs-card-height: ($--size-base * 3) !default;
$--tabs-tag-height: ($--size-base * 2.3) !default;
$--tabs-ver-height: ($--size-base * 4) !default;

@include b(tabg) {
	position: relative;

	&__nav {
		display: flex;
		user-select: none;
		position: relative;
		background-color: $--color-white;

		&--line {
			height: 100%;
			padding-bottom: 15px; /* 15px padding to hide scrollbar in mobile safari */
			box-sizing: content-box;
		}

		&--card {
			margin: 0 15px;
			border-radius: 2px;
			box-sizing: border-box;
			border: 1px solid $--Color-green;
			height: $--tabs-card-height;

			.#{$namespace}-tab {
				color: $--Color-green;
				border-right: 1px solid $--Color-green;
				line-height: $--tabs-card-height - 2px;

				&:last-child {
					border-right: none;
				}

				&.#{$namespace}-tab--active {
					color: $--color-white;
					background-color: $--Color-green;
				}

				&--disabled {
					color: $--Color-gray;
				}
			}
		}

		&--tag {
			margin: 0;
			box-sizing: border-box;
			border: none;
			height: $--tabs-tag-height;

			.#{$namespace}-tab {
				width: auto;
				flex: 0;
				flex-basis: auto;
				margin: 0 ($--size-base * .5);
				color: $--Color-mian;
				border: ($--size-base * .1) solid $--color-transparent;
				line-height: $--tabs-tag-height;
				box-sizing: border-box;

				&:last-child {
					border-right: none;
				}

				&.#{$namespace}-tab--active {
					color: $--Color-green;
					border: ($--size-base * .1) solid $--Color-green;
					border-radius: ($--size-base * 1.5);
				}

				&--disabled {
					color: $--Color-gray;
				}
			}
		}
	}

	&__line {
		z-index: 1;
		left: 0;
		bottom: 15px;
		height: 2px;
		position: absolute;
		border-radius: 2px;
		background-color: $--Color-green;
	}

	&__content {
		overflow: hidden;
	}

	&--line {
		padding-top: $--tabs-line-height;

		.#{$namespace}-tabs__wrap {
			height: $--tabs-line-height;
		}
	}

	&--card {
		padding-top: $--tabs-card-height;

		.#{$namespace}-tabs__wrap {
			height: $--tabs-card-height;
		}
	}

	&--tag {
		padding-top: $--tabs-tag-height;

		.#{$namespace}-tabs__wrap {
			height: $--tabs-tag-height;
		}
	}

	.#{$namespace}-tab__pane {
		box-sizing: border-box;

		&--float {
			float: left;
		}
	}

	@include m(ver) {
		width: 100%;
		height: 100%;

		@include e(wrap) {
			width: 100%;
			height: 100%;

			@include m(scrollable) {
				.#{$namespace}-tab {
					flex: 0;
					flex-basis: auto;
				}

				@include e(nav) {
					flex-direction: column;
					overflow: hidden;
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;

					@include m(ver) {
						margin: 0;
						box-sizing: border-box;
						border: none;
						height: 100%;

						.#{$namespace}-tab {
							margin: ($--size-base * 1) 0;
							color: $--Color-mian;
							border: ($--size-base * .1) solid $--color-transparent;
							line-height: $--tabs-ver-height;
							box-sizing: border-box;
							height: auto;

							span:not(.#{$namespace}-ellipsis) {
								line-height: 1.5;
							}

							&.#{$namespace}-tab--active {
								color: $--Color-green;
								border: ($--size-base * .1) solid $--color-transparent;
								border-radius: ($--size-base * 1.5);
							}

							&--disabled {
								color: $--Color-gray;
							}
						}
					}
				}
			}
		}
	}

	&__wrap {
		top: 0;
		left: 0;
		right: 0;
		z-index: 99;
		overflow: hidden;
		position: absolute;

		&--page-top {
			position: fixed;
		}

		&--content-bottom {
			top: auto;
			bottom: 0;
		}

		&--scrollable {
			.#{$namespace}-tab {
				/*flex: 0 0 20%;*/
				flex-shrink: 0;
			}

			.#{$namespace}-tabg__nav {
				overflow: hidden;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
}
