@import "mixins/mixins";
@import "common/var";
@import "mixins/utils";
 
@include b(toast) {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	color: $--Toast-text-color;
	max-width: $--Toast-max-width;
	font-size: $--Toast-font-size;
	line-height: $--Toast-line-height;
	border-radius: $--Toast-border-radius;
	word-break: break-all;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	box-sizing: content-box;
	transform: translate3d(-50%, -50%, 0);
	background-color: $--color-background-mask;
	width: fit-content;

	@include m(unclickable) {
		* {
			pointer-events: none;
		}
	}

	@include m(text) {
		padding: $--Toast-text-padding;
		min-width: $--Toast-text-min-width;
	}

	@include m(default) {
		width: $--Toast-default-width;
		padding: $--Toast-default-padding;
		min-height: $--Toast-default-width;

		@include e(icon) {
			font-size: $--Toast-icon-size;
		}

		@include e(loading) {
			margin: 10px 0;
		}

		@include e(text) {
			padding-top: 5px;
		}
	}

	@include m(top) {
		top: $--Toast-position-top-distance;
	}

	@include m(bottom) {
		top: auto;
		bottom: $--Toast-position-bottom-distance;
	}
}
 