
.zt-uploader {
	position: relative;
	display: inline-block;

	&__input {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
	}
}
