<script>
  export default {
    name: 'ZtTag',
    props: {
      text: String,
      closable: Boolean,
      type: String,
      hit: Boolean,
      disableTransitions: Boolean,
      color: String,
      size: String
    },
    methods: {
      handleClose(event) {
        event.stopPropagation();
        this.$emit('close', event);
      }
    },
    computed: {
      tagSize() {
        return this.size || (this.$ZENGT || {}).size;
      }
    },
    render(h) {
      const classes = ['zt-tag', this.type ? `zt-tag--${this.type}` : '',
        this.tagSize ? `zt-tag--${this.tagSize}` : '',
        {'is-hit': this.hit}
      ];
      const tagEl = (<span class={classes} style={{backgroundColor: this.color}}>
        { this.$slots.default }
        {
          this.closable && <i class="zt-tag__close zt-icon-close" on-click={this.handleClose}></i>
        }
      </span>);

      return this.disableTransitions ? tagEl : <transition name="zt-zoom-in-center">{ tagEl }</transition>;
    }
  };
</script>
