<template>
  <main :class="b({},{'is-padding':ispadding})" :style="isheight">
    <slot></slot>
  </main>
</template>

<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'main',
    props: {
      height: {
        type: String,
        default: null
      },
      ispadding: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      isheight() {
        let res = {};
        let _this = this;
        if (_this.height !== null && _this.height !== '') {
          res['height'] = _this.height;
        }
        return res;
      }
    }
  });
</script>
