<template>
  <div :class="[
    type === 'textarea' ? 'zt-textarea' : 'zt-input',
    inputSize ? 'zt-input--' + inputSize : '',
    {
      'is-disabled': inputDisabled,
      'zt-input-group': $slots.prepend || $slots.append,
      'zt-input-group--append': $slots.append,
      'zt-input-group--prepend': $slots.prepend,
      'zt-input--prefix': $slots.prefix || prefixIcon,
      'zt-input--suffix': $slots.suffix || suffixIcon || clearable,
	  'is-search': search
    },
    ]"
       @mouseenter="hovering = true"
       @mouseleave="hovering = false">
    <template v-if="type !== 'textarea'">
      <!-- 前置元素 -->
      <div class="zt-input-group__prepend" v-if="$slots.prepend">
        <slot name="prepend"></slot>
      </div>
      <input :tabindex="tabindex"
             v-if="type !== 'textarea'"
             class="zt-input__inner"
             v-bind="$attrs"
             :type="type"
             :disabled="inputDisabled"
             :readonly="readonly"
             :autocomplete="autoComplete || autocomplete"
             :value="nativeInputValue"
             ref="input"
             @compositionstart="handleComposition"
             @compositionupdate="handleComposition"
             @compositionend="handleComposition"
             @input="handleInput"
             @focus="handleFocus"
             @blur="handleBlur"
             @change="handleChange"
             :aria-label="label">
      <!-- 前置内容 -->
      <span :class="{ 'zt-input__prefix' : true, 'is-placeholder' : isplaceholder && !focused }" v-if="$slots.prefix || prefixIcon" @click="focus">
        <slot name="prefix"></slot>
        <i class="zt-input__icon"
           v-if="prefixIcon"
           :class="prefixIcon">
        </i>
        <span :class="{ 'zt-input__placeholder' : true, 'is-placeholder' : isplaceholder, 'is-focused' : focused }" v-show="isplaceholder && !focused">{{ tmpplaceholder }}</span>
      </span>
      <!-- 后置内容 -->
      <span class="zt-input__suffix"
            v-if="$slots.suffix || suffixIcon || showClear || validateState && needStatusIcon">
        <span class="zt-input__suffix-inner">
          <template v-if="!showClear">
            <slot name="suffix"></slot>
            <i class="zt-input__icon"
               v-if="suffixIcon"
               :class="suffixIcon">
            </i>
          </template>
          <i v-else
             class="zt-input__icon zt-icon-circle-close zt-input__clear"
             @click="clear"></i>
        </span>
        <i class="zt-input__icon"
           v-if="validateState"
           :class="['zt-input__validateIcon', validateIcon]">
        </i>
      </span>
      <!-- 后置元素 -->
      <div class="zt-input-group__append" v-if="$slots.append">
        <slot name="append"></slot>
      </div>
    </template>
    <textarea v-else
              :tabindex="tabindex"
              class="zt-textarea__inner"
              :value="nativeInputValue"
              @compositionstart="handleComposition"
              @compositionupdate="handleComposition"
              @compositionend="handleComposition"
              @input="handleInput"
              ref="textarea"
              v-bind="$attrs"
              :disabled="inputDisabled"
              :readonly="readonly"
              :autocomplete="autoComplete || autocomplete"
              :style="textareaStyle"
              @focus="handleFocus"
              @blur="handleBlur"
              @change="handleChange"
              :aria-label="label">
    </textarea>
  </div>
</template>
<script>
  import emitter from 'zengt-ui/src/mixins/emitter.js';
  import Migrating from 'zengt-ui/src/mixins/migrating.js';
  import calcTextareaHeight from './calcTextareaHeight';
  import merge from 'zengt-ui/src/utils/merge.js';

  export default {
    name: 'ZtInput',

    componentName: 'ZtInput',

    mixins: [emitter, Migrating],

    inheritAttrs: false,

    inject: {
      ztForm: {
        default: ''
      },
      ztFormItem: {
        default: ''
      }
    },

    data() {
      return {
        textareaCalcStyle: {},
        hovering: false,
        focused: false,
        isOnComposition: false,
        tmpplaceholder: '',
        isplaceholder: false
      };
    },

    props: {
      value: [String, Number],
      size: String,
      resize: String,
      form: String,
      disabled: Boolean,
      readonly: Boolean,
      search: Boolean,
      type: {
        type: String,
        default: 'text'
      },
      autosize: {
        type: [Boolean, Object],
        default: false
      },
      autocomplete: {
        type: String,
        default: 'off'
      },
      /** @Deprecated in next major version */
      autoComplete: {
        type: String,
        validator(val) {
          process.env.NODE_ENV !== 'production' &&
            console.warn('[Warn][Input]\'auto-complete\' property will be deprecated in next major version. please use \'autocomplete\' instead.');
          return true;
        }
      },
      validateEvent: {
        type: Boolean,
        default: true
      },
      suffixIcon: String,
      prefixIcon: String,
      label: String,
      clearable: {
        type: Boolean,
        default: false
      },
      tabindex: String,
      ok: Function
    },

    computed: {
      _ztFormItemSize() {
        return (this.ztFormItem || {})._ztFormItemSize;
      },
      validateState() {
        return this.ztFormItem ? this.ztFormItem.validateState : '';
      },
      needStatusIcon() {
        return this.ztForm ? this.ztForm.statusIcon : false;
      },
      validateIcon() {
        return {
          validating: 'zt-icon-loading',
          success: 'zt-icon-circle-check',
          error: 'zt-icon-circle-close'
        }[this.validateState];
      },
      textareaStyle() {
        return merge({}, this.textareaCalcStyle, { resize: this.resize });
      },
      inputSize() {
        return this.size || this._ztFormItemSize || (this.$ZENGT || {}).size;
      },
      inputDisabled() {
        return this.disabled || (this.ztForm || {}).disabled;
      },
      nativeInputValue() {
        return this.value === null || this.value === undefined ? '' : this.value;
      },
      showClear() {
        return this.clearable &&
          !this.inputDisabled &&
          !this.readonly &&
          this.nativeInputValue &&
          (this.focused || this.hovering);
      }
    },

    watch: {
      value(val) {
        try {
          this.$nextTick(this.resizeTextarea);
          if (this.validateEvent) {
            this.dispatch('ZtFormItem', 'zt.form.change', [val]);
          }
          this.placeholdersta();
        } catch (err) {
          console.error(err);
        };
      }
    },

    methods: {
      focus() {
        try {
          let _this = (this.$refs.input || this.$refs.textarea);
          _this.focus();
          this.placeholdersta(false);
        } catch (err) {
          console.error(err);
        };
      },
      blur() {
        try {
          (this.$refs.input || this.$refs.textarea).blur();
          this.placeholdersta();
        } catch (err) {
          console.error(err);
        };
      },
      getMigratingConfig() {
        return {
          props: {
            'icon': 'icon is removed, use suffix-icon / prefix-icon instead.',
            'on-icon-click': 'on-icon-click is removed.'
          },
          events: {
            'click': 'click is removed.'
          }
        };
      },
      handleBlur(event) {
        try {
          this.focused = false;
          this.$emit('blur', event);
          if (this.validateEvent) {
            this.dispatch('ZtFormItem', 'zt.form.blur', [this.value]);
          }
          this.placeholdersta();
        } catch (err) {
          console.error(err);
        };
      },
      select() {
        (this.$refs.input || this.$refs.textarea).select();
      },
      resizeTextarea() {
        if (this.$isServer) return;
        const { autosize, type } = this;
        if (type !== 'textarea') return;
        if (!autosize) {
          this.textareaCalcStyle = {
            minHeight: calcTextareaHeight(this.$refs.textarea).minHeight
          };
          return;
        }
        const minRows = autosize.minRows;
        const maxRows = autosize.maxRows;

        this.textareaCalcStyle = calcTextareaHeight(this.$refs.textarea, minRows, maxRows);
      },
      handleFocus(event) {
        this.focused = true;
        this.$emit('focus', event);
        this.placeholdersta();
      },
      handleComposition(event) {
        if (event.type === 'compositionstart') {
          this.isOnComposition = true;
        }
        if (event.type === 'compositionend') {
          this.isOnComposition = false;
          this.handleInput(event);
        }
      },
      handleInput(event) {
        try {
          if (this.isOnComposition) return;

          if (event.target.value === this.nativeInputValue) return;

          this.$emit('input', event.target.value);

          this.$nextTick(() => { this.$refs.input.value = this.value; });

          this.placeholdersta();
        } catch (err) {
          console.error(err);
        };
      },
      handleChange(event) {
        this.$emit('change', event.target.value);
        this.placeholdersta();
      },
      calcIconOffset(place) {
        let elList = [].slice.call(this.$el.querySelectorAll(`.zt-input__${place}`) || []);
        if (!elList.length) return;
        let el = null;
        for (let i = 0; i < elList.length; i++) {
          if (elList[i].parentNode === this.$el) {
            el = elList[i];
            break;
          }
        }
        if (!el) return;
        const pendantMap = {
          suffix: 'append',
          prefix: 'prepend'
        };

        const pendant = pendantMap[place];
        if (this.$slots[pendant]) {
          el.style.transform = `translateX(${place === 'suffix' ? '-' : ''}${this.$el.querySelector(`.zt-input-group__${pendant}`).offsetWidth}px)`;
        } else {
          el.removeAttribute('style');
        }
      },
      handleOk() {
        this.placeholdersta();
        let _this = (this.$refs.input || this.$refs.textarea);
        this.$emit('ok', _this);
      },
      updateIconOffset() {
        this.calcIconOffset('prefix');
        this.calcIconOffset('suffix');
      },
      clear() {
        this.$emit('input', '');
        this.$emit('change', '');
        this.$emit('clear');
        this.placeholdersta();
      },
      placeholdersta(isinit) {
        try {
          if (this.search) {
            let _input = (this.$refs.input || this.$refs.textarea);
            if (isinit) {
              let check = _input.placeholder || _input.getAttribute('placeholder');
              if (!check) {
                return;
              }
              let text = _input.placeholder || _input.getAttribute('placeholder');
              this.tmpplaceholder = text;
              _input.placeholder = '';
            }
            let _val = _input ? _input.value : '';
            this.isplaceholder = !(_val !== '');
          };
        } catch (err) {
          console.error(err);
        };
      },
      keyfun() {
        let _this = this;
        let _Input = (_this.$refs.input || _this.$refs.textarea);
        _Input.onkeydown = function(e) {
          var key = window.event.keyCode;
          if (key === 13) {
            _this.$emit('ok', _Input);
          };
        };
      }
    },

    created() {
      this.$on('inputSelect', this.select);
    },

    mounted() {
      this.resizeTextarea();
      this.updateIconOffset();
      this.placeholdersta(true);
      this.keyfun();
    },

    updated() {
      try {
        this.$nextTick(this.updateIconOffset);
        this.placeholdersta();
      } catch (err) {
        console.error(err);
      };
    }
  };
</script>
