<script>
  import Emitter from '../../../src/mixins/emitter';

  export default {
    name: 'ZtCheckboxGroup',

    componentName: 'ZtCheckboxGroup',

    mixins: [Emitter],

    inject: {
      ztFormItem: {
        default: ''
      }
    },

    props: {
      value: {},
      disabled: Boolean,
      min: Number,
      max: Number,
      size: String,
      fill: String,
      textColor: String
    },

    computed: {
      _FormItemSize() {
        return (this.ztFormItem || {}).ztFormItemSize;
      },
      checkboxGroupSize() {
        return this.size || this._FormItemSize || (this.$ZENGT || {}).size;
      }
    },

    watch: {
      value(value) {
        this.dispatch('ZtFormItem', 'zt.form.change', [value]);
      }
    }
  };
</script>
<template>
  <div class="zt-checkbox-group" role="group" aria-label="checkbox-group">
    <slot></slot>
  </div>
</template>
