﻿<template>
  <div :class="[b(), isborder]">
    <slot />
  </div>
</template>

<script>
  import create from '../../src/create/create-basic';
  export default create.Create({
    name: 'cell-group',
    props: {
      border: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      isborder() {
        const name = create.Config.namespan + '-hairline--top-bottom';
        const res = {};
        if (this.border) {
          res[name] = true;
        }
        return res;
      }
    }
  });
</script>