﻿<template>
  <div v-if="isDef(info)"
       :class="b()">
    {{ info }}
  </div>
</template>

<script>
  import create from '../../src/create/create-basic';
  export default create.Create({
    name: 'info',
    props: {
      info: [String, Number]
    }
  });
</script>