﻿@import "../common/var";

@mixin hairline_common {
	content: ' ';
	position: absolute;
	pointer-events: none;
	box-sizing: border-box;
}

@mixin hairline($border-color: $--border-color-base) {
	@include hairline_common;
	top: calc(-50% - #{($--size-base * .05)});
	left: -50%;
	right: -50%;
	bottom: -50%;
	transform: scale(0.5);
	border: 0 solid $border-color;
}

@mixin hairline_bottom($border-color: $--border-color-base,$left: 0) {
	@include hairline_common;
	left: $left;
	right: 0;
	bottom: 0;
	transform: scaleY(0.5);
	border-bottom: ($--size-base * .1) solid $border-color;
}


@mixin hairline_common {
	content: ' ';
	position: absolute;
	pointer-events: none;
	box-sizing: border-box;
}
