﻿<template>
  <div :class="b({fixed},{ 'zt-hairline__top-bottom': border })" :style="style">
    <slot />
  </div>
</template>

<script>
  import create from '../../src/create/create';
  export default create.Create({
    name: 'tabbar',
    data() {
      return {
        items: []
      };
    },
    props: {
      value: Number,
      fixed: Boolean,
      zIndex: {
        type: Number,
        default: 1
      },
      border: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      style() {
        return {
          zIndex: this.zIndex
        };
      }
    },
    watch: {
      items() {
        this.setActiveItem();
      },
      value() {
        this.setActiveItem();
      }
    },
    methods: {
      setActiveItem() {
        this.items.forEach((item, index) => {
          item.active = index === this.value;
        });
      },
      onChange(active) {
        if (active !== this.value) {
          this.$emit('input', active);
          this.$emit('change', active);
        }
      }
    }
  });
</script>